@import url(style.css);

.sub-visu{object-fit: cover;}

.visu-title{padding-top: 0;}
.visu-title h3{font-weight: 700;}
.visu-title p b{color: var(--primaryColor);}
.visu-title p.cafe-notice{
  color: #666;
  font-size: 14px;
  padding: 10px 0;}

/* tab menu */
ul.tab-button {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;  
  grid-auto-rows: minmax(35px, auto);
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  column-gap: 3px;
  padding: 3px 4px;
  box-shadow: var(--boxShadow);
}

ul.tab-button li{
  padding: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.tab-button li.active{
  background-color: var(--primaryColor);
  color: #fff;
  font-weight: 600;
}

/* display */
#glass{display: none;}
#bottle{display: none;}
#glass.active{display: inherit;}
#bottle.active{display: inherit;}

.wine-container{
  width: 100%;
  max-width: 345px;
  margin: 50px auto;
  align-items: center;
}

.wine-items{
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wine-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.wine-item:last-child{margin-bottom:0;}

.wine-info{
  width: 170px;
  height: 260px;
  padding: 10px;
  word-break: break-all;
  margin-left: 5px;
}

.wine-info h5{
  font-weight: 600;
  font-size: 16px;
}

.wine-info p{
  font-size: 14px;
  color: var(--gray);
  padding: 10px 0;
}

.wine-info button{
  width: 155px;
  height: 30px;
  border: 1.5px solid var(--primaryColor);
  border-radius: 10px;
  background-color: #fff;
  color: var(--primaryColor);
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.wine-info button:hover{
  background-color: var(--primaryColor);
  color: #fff;
}

.wine-img img{
  width: 160px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
}

ul.wine-binery{
  display: grid;
  grid-template-columns: 160px 160px;  
  grid-auto-rows: minmax(200px, auto);
  column-gap: 15px;
  justify-content: center;
  margin: auto;
}

.wine-list{
  width: 100%;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#bottle ul li{
  display: none;
  overflow: hidden;
}

.wine-list img{
  width: 160px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}

.wine-list h5{
  padding: 5px;
  text-align: left;
  font-weight: 600;
  max-width: 160px;
  font-size: 16px;
}

.wine-list p{
  padding: 0 5px;
  max-width: 160px;
  font-size: 14px;
  color: var(--gray);
}

.load-more{
  display: block;
  text-align: center;
  width: 160px;
  height: 30px;
  border: 1.5px solid var(--primaryColor);
  border-radius: 10px;
  background-color: #fff;
  color: var(--primaryColor);
  font-weight: 600;
  transition: 0.5s;
  margin: 20px auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.load-more:hover{
  background-color: var(--primaryColor);
  color: #fff;
}
.load-more.end{display:none;}

/* modal */
.wine-modal{
	display: none; 
	position: absolute; 
	left: 0; 
	top: 0;
	width: 100%;
	height: 100vh; 
	background: rgba(0,0,0,0.7); 
	z-index: 1000;
	overflow: hidden;
}

.wine-modal-box{
	position: relative;
	width: 100%;
  height: 100%;
  margin: auto;
}

.wine-modal-content{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
	max-width: 500px;
	height: auto;
}

/* Pseuco-Class */
#glass div.wine-item.dry{
  position: relative;}
#glass div.wine-item.dry::after{
  position: absolute;
  content: 'DRY';
  top: 0;
  left: 5px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: var(--gray);
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

#glass .wine-item.sweet{
  position: relative;}
#glass .wine-item.sweet::after{
  position: absolute;
  content: 'SWEET';
  top: 0;
  left: 5px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: var(--gray);
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

#glass .wine-item.red{
  position: relative;}
#glass .wine-item.red::before{
  position: absolute;
  content: 'RED';
  top: 0;
  left: 55px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: crimson;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

#glass .wine-item.white{
  position: relative;}
#glass .wine-item.white::before{
  position: absolute;
  content: 'WHITE';
  top: 0;
  left: 55px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}