@import url(style.css);

.sub-visu{object-fit: cover;}

.visu-title{padding-top: 0;}
.visu-title h3{font-weight: 700;}
.visu-title em{
  color: var(--gray);
  font-size: 14px;
  font-style: normal;}
.visu-title p b{color: var(--primaryColor);}
.visu-title p.cafe-notice{
  color: var(--gray);
  font-size: 14px;
  padding: 10px 0;}

/* tab menu */

ul.tab-button.twodepth {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;  
  grid-auto-rows: minmax(35px, auto);
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  column-gap: 3px;
  padding: 3px 4px;
  box-shadow: var(--boxShadow);
}

ul.tab-button.thrdepth {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-auto-rows: minmax(35px, auto);
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  column-gap: 3px;
  padding: 3px 4px;
  box-shadow: var(--boxShadow);
}

ul.tab-button li{
  padding: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.tab-button li.active{
  background-color: var(--primaryColor);
  color: #fff;
  font-weight: 600;
}

/* display */

.yummy-items{display: none;}
#sandwich.active{display: inherit;}
#bread.active{display: inherit;}
#pang.active{display: inherit;}
#dessert.active{display: inherit;}
#cookie.active{display: inherit;}
#cake.active{display: inherit;}
#coffee.active{display: inherit;}
#decaf.active{display: inherit;}
#organic.active{display: inherit;}
#pasta.active{display: inherit;}
#pilaf.active{display: inherit;}

.food-container{
  max-width: 388px;
  margin: 50px 0;
}
.yummy-item img{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  background-color: var(--background);
}

.yummy-item{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 2fr;
  width: 100%;
  max-width: 358px;
  margin-bottom: 20px;
}

.yummy-item.food img{
  width: 170px;
  height: 170px;
  object-fit: contain;
  border-radius: 20px;
  background-color: var(--background);
}

.cafe-food{
  display: flex;
  flex-direction: column;
}

.yummy-items:last-child{margin-bottom: 0;}

.yummy-info{
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
}

.yummy-info p{position: relative;}

.yummy-info p em{
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryColor)
}
.yummy-info p:first-child{
  font-weight: 600;
  font-size: 18px;}
.yummy-info p:nth-child(2){
  font-weight: 600;
  color: var(--primaryColor);
  margin: 10px 0;
  font-size: 18px;
}

.yummy-info p.teainfo{font-size: 14px;}

/* Pseudo-class */

.yummy-items .vegan{
  position: relative;}
.yummy-items .vegan::before{
  position: absolute;
  content: 'VEGAN';
  top: 0;
  left: 0;
  width: 50px;
  height: 20px;
  line-height: 18px;
  background-color: var(--primaryColor);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 1px;
  z-index: 3;
}

.yummy-items .new{
  position: relative;}
.yummy-items .new::before{
  position: absolute;
  content: 'NEW';
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  line-height: 18px;
  background-color: crimson;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 1px;
  z-index: 3;
}