@charset "utf-8"; 

:root{
  --black: #121212;
	--gray: #666;
  --lightgray: #ccc;
  --primaryColor: #0F4D27;
  --background: #ededed;
  --white: #fff;
  --boxShadow: 0 0 5px rgba(0, 0, 0, 0.1);
  --radius: 3px;
}

body::-webkit-scrollbar {
  display: none;
}

main{
  width: 100%;
  margin: 90px auto 0;
}
section{
  width: 100%;
  padding: 25px 20px;
}
section.full{
  width: 100%;
  height: auto;
  padding: 0;
}
section:last-of-type{
  padding-bottom: 100px;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: var(--black);
}

.sub-visu img{
  display: block;
  height: 250px;
  object-fit: cover;
}

.sub-title{
  padding: 30px 0;
  width: 100%;
}

.visu-title{
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visu-title h2{
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visu-title p{
  margin-top: 10px;
  text-align: center;
  margin-top: 15px;
  line-height: 24px;
}

.max-title{
  padding: 30px 20px 20px 20px;
  width: 100%;
}
.max-title h2{
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.max-title p{
  margin-top: 10px;
}


h1{
  font-size: 32px;
  font-weight: 700;
}
h2{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
h3{
  font-size: 24px;
  margin-bottom: 20px;
}
h4{
  font-size: 20px;
  margin-bottom: 10px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
}
p{
  font-size: 16px;
  font-weight: 400;
}

a.btn{
  display: block;
  text-align: center;
  width: 388px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: normal;
  border-radius: var(--radius);
  color: #fff;
  background-color: var(--primaryColor);
  margin: 20px auto;
  transition: 0.3s ease-in-out;
}
a.btn:hover {
  background: #0a3a1f;
}
  