.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 428px;
  height: 69px;
  z-index: 10;
}

.footer-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #121212;
  font-size: 14px;
  cursor: pointer;
}

.nav-item.active {
  color: #0F4D27;
  font-weight: 700;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-icon img{
  width: 100%;
}

/* í™ˆ */
.home-button {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 57px;
  height: 57px;
  background: #0F4D27;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.home-button img{
  width: 25px;
  height: 25px;
}