@charset "utf-8"; 

.deosup-info h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deosup-info .swiper-slide{
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}
.deosup-info .swiper-slide::before{
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.deosup-info .swiper-slide img{
  display: block;
  height: 200px;
  object-fit: cover;
  
}
.deosup-info .swiper-slide .desc{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.deosup-info .swiper-slide .desc h4{
  font-weight: 600;
  color: var(--white);
}
.deosup-info .swiper-slide .desc p{
  color: var(--background);
}

.deosup-info .swiper-slide .desc a.btn{
  display: inline-block;
  width: fit-content;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 0 20px;
  margin: 20px auto 0;
}
.deosup-info .swiper-slide .desc a.btn:hover{
  background: var(--white);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.deosup-info .swiper-wrapper {
  padding-bottom: 20px;
}
.deosup-info .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0;
}
.deosup-info .swiper-pagination-bullet-active {
  background: var(--primaryColor);
}